body {
    margin: 0;
    box-sizing: border-box;
    background-color: #8c8e85e5
}

header {
    text-align: center;
    margin-bottom: 90px;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.choicebtn {
    text-align: center;
    margin-bottom: 90px;
}

.pvp {
    margin-right: 16px;
}

.playingboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 420px;
    width: 420px;
    margin: 60px auto;
    text-align: center;
}

.playingfield {
    display: flex;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
}

#field-0 {
    border-left: none;
    border-top: none;
}

#field-1 {
    border-top: none;
}

#field-2 {
    border-top: none;
    border-right: none;
}

#field-3 {
    border-left: none;
}

#field-5 {
    border-right: none;
}

#field-6 {
    border-left: none;
    border-bottom: none;
}

#field-7 {
    border-bottom: none;
}

#field-8 {
    border-bottom: none;
    border-right: none;
}

.noselect {
    user-select: none;
}

/* Modal */

.modal-outer {
    display: none;
}

.open {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
}

.modal-header {
    font-size: 2rem;
    margin-bottom: 3rem;
}
.modal-inner {
    text-align: center;
    border: 3px solid black;
    margin: 10% auto;
    color: #F4FF1F;
    padding: 20px;
    font-size: 1.2rem;
    min-width: 200px;
    overflow: hidden;
    height: 24%;
    width: 24%;
    background-color: #53544eae;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

button {
    height: 40px;
    margin-right: 14px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #8c8e85e5;
    border: 3px solid black;
}

button:hover {
    background-color: #aaaca3a8;
    cursor: pointer;
    text-decoration: none;
}

.highlight {
    background-color: #c9ccc0a8;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
