body {
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

h1 {
    margin-top: 80px;
    font-size: 3rem;
}

.playingboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 420px;
    width: 420px;
    margin: 60px auto;
    text-align: center;
}

.playingfield {
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}

[class^="field-"] { 
    display: block;
    border: 1px solid red;
    font-size: 7rem;
}

#field-0 {
    border-left: none;
    border-top: none;
}

#field-1 {
    border-top: none;
}

#field-2 {
    border-top: none;
    border-right: none;
}

#field-3 {
    border-left: none;
}

#field-5 {
    border-right: none;
}

#field-6 {
    border-left: none;
    border-bottom: none;
}

#field-7 {
    border-bottom: none;
}

#field-8 {
    border-bottom: none;
    border-right: none;
}